@model IEnumerable<lexicon_garage3.Core.Entities.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>My Registered Vehicles</h1>


    <p>
        <a asp-action="Create">Register New</a>
    </p>


<table class="table">
    <thead>
        <tr>
            <th>
                Registration number
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckoutTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th>
                Parking spot
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalTime)
                </td>
                <td>
                    @if (item.CheckoutTime == DateTime.MinValue)
                    {
                        <span>Never checked out</span>
                    }
                    else
                    {
                        <span>@item.CheckoutTime</span>
                    }
                    @* @Html.DisplayFor(modelItem => item.CheckoutTime) *@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType.VehicleSize)
                </td>
                <td>
                    @if (item.ParkingSpot != null)
                    {
                        <span>@item.ParkingSpot.ParkingNumber</span>
                    }
                    else
                    {
                        <span>Not checked in</span>
                    }
                </td>
                <td>
                    @if (item.IsCheckedIn)
                    {
                        <a asp-action="CheckOutReceipt" asp-route-id="@item.RegNumber">Check Out</a>
                    }
                    else
                    {
                        <a asp-action="Edit" asp-route-id="@item.RegNumber">Check In</a>
                    }
                    | <a asp-action="Details" asp-route-id="@item.RegNumber">Details</a> |
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.RegNumber">Delete</a>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>
