@model lexicon_garage3.Core.Entities.VehicleType

@{
    ViewData["Title"] = "Details";
}

<h1> Vehicle Type Details</h1>

<div>
    <br />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumOfWheels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumOfWheels)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.Id">Edit</a> <br /><br />
    <a asp-action="VehicleTypeIndex">Back to List</a>
</div>
