@model DetailsMemberViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h3>Member Information</h3>
    <p><strong>Full Name:</strong> @Model.FullName</p>
    <p><strong>Username:</strong> @Model.UserName</p>
    <p><strong>Person Number:</strong> @Model.PersonNumber</p>
</div>

<div>
    <h3>Vehicles</h3>
    @if (Model.Vehicles != null && Model.Vehicles.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Reg Number</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Color</th>
                    <th>Arrival Time</th>
                    <th>Checkout Time</th>
                    <th>Parking Spot</th>
                    <th>Cost Per Hour</th>
                    <th>Total Parking Cost</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vehicle in Model.Vehicles)
                {
                    <tr>
                        <td>@vehicle.RegNumber</td>
                        <td>@vehicle.Brand</td>
                        <td>@vehicle.Model</td>
                        <td>@vehicle.Color</td>
                        <td>@vehicle.ArrivalTime</td>
                        <td>@vehicle.CheckoutTime</td>
                        <td>@vehicle.ParkingSpotName</td>
                        <td>@vehicle.CostPerHour.ToString("0") <span>SEK</span> </td>
                        <td>@vehicle.ParkingCost.ToString("0") <span>SEK</span></td>
                        <td>
                            <a asp-action="Details" asp-controller="Vehicles" asp-route-id="@vehicle.RegNumber">Vehicle Details</a>
                           
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No vehicles registered for this member.</p>
    }
</div>



<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="IndexMembers">Back to List</a>
</div>
