@model IEnumerable<IndexParkingSpotViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>All Parking Places</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create Parking Place</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourRate) 
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingNumber)
            </td>
                <td>
                    @if (item.IsAvailable)
                    {
                        <span class="fluent--presence-available-20-regular"></span>
                    }
                    else
                    {
                        <span class="iconamoon--unavailable-fill"></span>
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.HourRate) <span>SEK</span>
            </td>
            <td>
                   
                    <a asp-action="Edit" asp-route-id="@item.Id" >Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" >Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary">Delete</a>
                    <form asp-action="BookingToggle" method="post" class="d-inline">
                        <input type="hidden" name="id" value="@item.Id" />
                            @if (item.IsAvailable)
                            {
                            <button type="submit" class="btn btn-warning">
                                <span>Unbook</span>
                            </button>
                               
                            }
                            else
                            {
                            <button type="submit" class="btn btn-success">
                                <span>Book</span>
                            </button>
                            }
                       
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
